<!DOCTYPE html>


{% load static %}

<!-- HTML -->
<html lang="ja">

    <!----- ヘッド ----->
        <!-- メタタグ -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Chart.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

        <!-- css -->
        
        
        <!-- タイトル -->
        <title>{% block title %}{% endblock %}</title>
        
    </head>

    <!----- ボディ ----->
    <body class="body">
            {% block content %}
            {% endblock %}
    </body>

</html>