{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}My_POSsys{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/pos_page.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("{% static 'img/background.jpg' %}");
            background-size: cover;
            width: 100%;
            max-width: 1280px;
            margin: auto;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .input_form {
            margin: 0 20px; /* 左右に20pxのマージンを追加 */
            padding: 35px; /* 必要に応じて調整 */
            background-color: #192027;
        }
    </style>

    

    <div class="container">
    <div class="input_form">
        <form class="posform" name="posform" method="POST" onsubmit="return false;">
            {% csrf_token %}
            <div class="row align-items-center">
                {% for key, value in Prodacts_dict.items %}
                    <div class="col-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ key }}</h5>
                                <p class="card-text">Price: {{ value }}円</p>
                                <div class="input-group">
                                    <button type="button" class="btn btn-secondary" id="{{ key }}" onclick="minus(this.id), GetDate();">-</button>
                                    <input type="number" class="form-control text-center" id="saled{{ key }}" name="saled{{ key }}" value="0">
                                    <button type="button" class="btn btn-secondary" id="{{ key }}" onclick="plus(this.id), GetDate();">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="mb-3">
                <label for="bill" class="form-label text-white">お預かり:</label>
                <input type="number" class="form-control" id="bill" name="bill" value="0" onchange="GetDate()">
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">小計:</h5>
                            <h4 class="card-text text-success" id="subtotal">0</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">おつり:</h5>
                            <h4 class="card-text text-danger" id="refund">0</h4>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" id="subbtn" name="subbtn" onclick="submit();">お会計</button>
        </form>
       </div>
</div>


    <script>
        // Your JavaScript code here
        // === フォームの値を取得する関数 ===
        function GetDate(){
            var get_dict = {{Prodacts_dict | safe}};
            console.log(get_dict)

            // お預かり金額を取得
            var amount = document.getElementById('bill').value;

            // 各オブジェクトのvalueを取得する
            sum = 0;
            for (var key in get_dict){
                if (get_dict.hasOwnProperty(key)){
                    var value = get_dict[key]; // 値段
                    var saled = document.getElementById('saled'+key).value; // 個数
                    sum += value*saled
                }
            }
            console.log(sum) 

            // おつりを計算
            var refund = amount - sum;
            document.getElementById("subtotal").innerText = sum;
            document.getElementById("refund").innerText = refund;
        }
        
        // === 個数の操作を行うボタンの関数 ===
        // +ボタンが押されたら
        function plus(get_id){
            console.log(get_id)
            var status = document.getElementById('saled'+get_id).value;
            console.log(status)
            document.getElementById('saled'+get_id).value = Number(status)+1;
        }

        // -ボタンが押されたら
        function minus(get_id){
            console.log(get_id)
            var status = document.getElementById('saled'+get_id).value;
            console.log(status)
            document.getElementById('saled'+get_id).value = Number(status)-1;
        }

    </script>

    
{% endblock %}
